.Navbar-container {
  position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #1e2a3a;
    color: #fff;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) #1e2a3a;
    scrollbar-width: thin;
}

.Navbar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #2c3e50;
}

.pfp {
  width: 100%;
  height: auto;
  max-width: 175px; 
  max-height: 175px;
  object-fit: cover;
  border-radius: 50%;
}

.Navbar-social{
  display: flex;
  list-style: none;
  padding: 1rem;
  font-weight: bold;
  
}

.Navbar-social a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, sans-serif;
}

.list-inline-item{
  padding: 0.5rem 0 0.5rem 1rem;
  align-items: center;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}


.Navbar-links {
  list-style: none;
  padding: 1rem;
  font-size: 15px;
  font-weight: bold;
  
}

.nav-item {
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.full-screen-iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* optional */
  z-index: 1000; /* optional */
}

.normal-iframe-container {
  width: 100%;
  height: 800px;
  border: 1px solid #ddd;
  padding: 10px;
}

/* .Content-container{
  display: flex;
  width: 87vw;
  height: 100vh;

} */

.App {
  text-align: center;
}

.App-header {
  background-color: #111821;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;}


  .modal {
    position: fixed; /* Fixes the overlay to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it sits on top of other content */

  }
  
  .modal-content {
    position: relative; /* Allows absolute positioning for child elements */
    width: 90vw; /* 90% of the viewport width */
    height: 90vh; /* 90% of the viewport height */
    background: #1e2a3a;
    overflow: hidden; /* Hide anything that overflows the container */
    overflow-y: auto; /* Allow vertical scrolling */
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
    border-radius: 8px; /* Optional rounded corners */
    cursor: pointer;
    scrollbar-color: rgba(0, 0, 0, 0.2) #1e2a3a;
    scrollbar-width: thin;

  }

  .close {
    position: center;
    top: 5px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;

  }

.pdf-viewer {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Scale the PDF to fit within the container while maintaining its aspect ratio */

  
}

